# Mongo root account (admin database)
MONGO_ROOT_USERNAME=change_me_root
MONGO_ROOT_PASSWORD=change_me_root_password

# Reblock app database account to be created by init script
MONGO_APP_DB=reblock_prod
MONGO_APP_USER=reblock_prod_user
MONGO_APP_PASSWORD=change_me_app_password
